*{
    box-sizing: border-box;
}

:root{
    --br:1px solid red;
    --bg:1px solid green;
    --bb:1px solid blue;
}
nav{
    background-color: peru;
    /* border-radius: 5px; */
}
.nav-container{
    /* border:var(--bb); */
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin:0 auto;
    
}

.logo-container{
    /* border:var(--bg); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.img-container{
    max-width:80px;
    max-height: 80px;
}

.img-container img {
    width: 80%;
    object-fit: cover;
  }
  
.logo-container p{
    font-size: 2rem;
}

.nav-items-container{
    /* border:var(--bb); */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-items-container a{
    text-decoration: none;
    color: white;
}

.nav-items-container a.login-btn{
    background-color: aqua;
    padding:10px 20px;
    color:black;
    border-radius: 5px;
}

/* nav ends here */

/* banner starts here  */
.banner-container{
    border:var(--bb);
    margin: 10px auto 0;
    max-width: 1200px;
    min-height: 50px;
    display: flex;

}

.banner-text{
    border: var(--bg);
    width: 50%;
}
.banner-img{
    border: var(--bb);
    width: 50%;
}